<!DOCTYPE html>
<heml lang = "ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width =device-width, initial-scale=1.0">
	<script src="/js/home/login.js" defer></script> <!-- defer은 ejs 에서 login.js 에 있는 Document의 id를 가져오기 전에 로그가 먼저 실행되서 defer 을 부여함-->
	<title>Study</title> 
	</head>
	<body>
		<input id = "id" type ="text" placeholder="아이디"><br> <!-- 태그를 우리가 정한 선택자로 바꿔서 받을수 있다.--> 
		<input id = "psword" type ="text" placeholder="비밀번호"><br>
		<button>로그인</button>
	</body>
</heml>